
body{
    width: 1024px;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
    font-family:'fa-brands-400.ttf';
}

.topmenu{
    background-color: grey;
    padding: 30px;
    margin: 0px;
}
.topmenu li{
    display: inline-block;
}
.topmenu li a{
    padding: 10px 15px;
}
.topmenu .active{
    text-decoration: underline red 3px;
    text-underline-offset: 20%;
}
.sidemenu{
    width: 21%;
}
.content{
    width: 70%;
    margin-bottom: 30px;
    margin-top:11px;  
    margin-left: 15px
}

p{
    margin-left: 5px;
    font-family:'fa-regular-400.ttf';
}

.sidemenu li{
    background-color: grey;
    margin: 2px;
    padding:8px;

}

.clearfix{
    clear: both;
}

main .column{
    float: left;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: grey;
    text-align: center;
}

footer p{
    padding-bottom: 10px;
}

h2{
    letter-spacing:3px;
    word-spacing:8px;
    margin-left: 15px;
    font-family: 'fa-solid-900.ttf';
}

h2,.header{
    color: #87000A;
    font-variant: small-caps; 
    font-family: '';
}

.header{
    border: solid #87000A 2px;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
}
